* {
  margin: 0;
  padding: 0;
}
.main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../background3.jpg");
  background-position: center;
  background-size: cover;
}
.title {
  font-size: 55px;
}
.subtitle {
  font-size: 25px;
  padding-top: 10px;
}
.intro-text {
  width: 100%;
  text-align: center;
}
.buttonContainer {
  margin-top: 50vh;
  display: flex;
  justify-content: space-evenly;
}
.landingButton {
  width: 15vw;
  height: 10vh;
}
.landingButton:hover {
  background-color: blanchedalmond;
  color: black;
}
@media only screen and (min-width: 1200px) {
  .buttonContainer {
    padding: 0 200px;
  }
  .title {
    padding: 0 100px;
  }
}
@media only screen and (max-width: 768px) {
  .title {
    font-size: 60px;
  }
  .landingbutton {
    width: 150px;
    height: 50px;
  }
}
