* {
  margin: 0;
  padding: 0;
}
.main {
  min-height: 100vh;
  background-image: url("../../background3.jpg");
  background-position: center;
  background-size: cover;
}
.title {
  font-size: 8vh;
  color: rgb(232, 148, 39);
}
.subtitle {
  font-size: 4vh;
  color: antiquewhite;
}
.login-row {
  display: flex;
  margin-top: 40vh;
  justify-content: center;
}
@media only screen and (max-width: 480px) and (min-width: 240px) {
  .login-row {
    margin-top: 20vh;
  }
}
@media only screen and (max-width: 239px) {
  .login-row {
    margin-top: 10vh;
  }
}
