.login {
  color: black;
}
.forgot {
  color: balck;
}
.profilePic {
  width: 60%;
  display: flex;
  align-items: center;
  padding: 20px;
  animation-name: profile-pic-slider;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
@keyframes profile-pic-slider {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}
.profileContainer {
  display: flex;
  margin: 20px;
}
@media only screen and (max-width: 768px) {
  .profileContainer {
    flex-direction: column-reverse;
  }
}
