.login {
  color: black;
}
.forgot {
  color: balck;
}
/* .register-div-main {
  display: flex;
  justify-content: space-between;
}
.register-div-1 {
  width: 50vw;
}
.register-div-2 {
  width: 60%;
  display: flex;
  align-items: center;
  padding: 20px;
  /* height: 30vh; */
/* width: 40vw; */
.profilePic {
  width: 60%;
  display: flex;
  align-items: center;
  padding: 20px;
  animation-name: profile-pic-slider;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
@keyframes profile-pic-slider {
  0% {
    width: 0%;
    /* height: 0%; */
  }
  100% {
    width: 60%;
  }
}
.profileContainer {
  display: flex;
  margin: 20px;
}
@media only screen and (max-width: 768px) {
  .profileContainer {
    flex-direction: column-reverse;
  }
}
