.outerdiv {
  background-color: red;
  margin-top: 5vh;
  border-radius: 20px;
  min-height: 10vh;
  padding-left: 2vw;
  padding-right: 2vw;
  align-items: center;
  justify-content: space-between;
  display: flex;
  font-size: 3vh;
}
@media only screen and (max-width: 300px) {
  .outerdiv {
    flex-direction: column;
    padding: 1vh;
  }
}
