.outer-div1 {
  height: 93vh;
  display: flex;
  align-items: center;
  font-size: 3vh;
  justify-content: center;
}
.outer-div2 {
  box-shadow: 3px 3px 3px rgb(49, 48, 48);
  position: relative;
  border-radius: 20px;
  height: 50vh;
  width: 50vw;
  background-color: red;
  animation-name: result-box-animation;
  animation-duration: 1s;
  animation-iteration-count: 1;
}
@keyframes result-box-animation {
  0% {
    height: 10vh;
    width: 10vw;
  }
  100% {
    height: 50vh;
    width: 50vw;
  }
}
.button {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.outer-div2a,
.outer-div2b,
.outer-div2c,
.outer-div2d {
  font-weight: bold;
  margin-top: 10px;
  margin-left: 10px;
}
.outer-div2d {
  position: absolute;
  bottom: 10px;
}

@media only screen and (max-width: 500px) {
  .outer-div2 {
    width: 100%;
    animation-name: result-box-animation2;
    animation-duration: 1s;
    animation-iteration-count: 1;
  }
}

@keyframes result-box-animation2 {
  0% {
    height: 10vh;
    width: 10%;
  }
  100% {
    height: 50vh;
    width: 100%;
  }
}

@media only screen and (max-width: 800px) and (min-width: 500px) {
  .outer-div2 {
    width: 80%;
    animation-name: result-box-animation3;
    animation-duration: 1s;
    animation-iteration-count: 1;
  }
}
@keyframes result-box-animation3 {
  0% {
    height: 10vh;
    width: 10%;
  }
  100% {
    height: 50vh;
    width: 80%;
  }
}
